.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .product-card {
    display: flex;
    width: 300px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
  }

  .hola{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #0056b3;
    }
}